
.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .animate-fade-in-slide-up {
    opacity: 0;
    animation: fadeInSlideUp 1s forwards ease-in-out;
  }
  
  @keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  button {
    transition: transform 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  